<div class="container">
  <div class="card-header">
    <h1>Administrator</h1>
  </div>
  <div class="row">
    <div class="col-4">
      <%= image_tag(@user.avatar, style:"width: 70%; height: 70%; border-radius:100%") if @user.avatar.attached? %>
    </div>
    <div class="col-8">
      <h1><%= @user.name %></h1>
      <h6>
        <%= pluralize(@user.comments.size, "Comment") %> |
        <%= pluralize(@user.views, "view") %> |
        <%= pluralize(@total_views, "Total Post View") %>
      </h6>
      <br>
      <h6>Name: <%= @user.name %></h6>
      <h6>Email: <%= @user.email %></h6>
      <div class="btn-group">
        <% if @user.admin? %>
          <%= link_to "Remove Admin", admin_become_user_path(@user), data: { turbo_method: :post }, class: "btn btn-outline-danger", style: "margin: 5px" %>
        <% else %>
          <%= link_to "Give Admin", user_become_admin_path(@user), data: { turbo_method: :post }, class: "btn btn-outline-success", style: "margin: 5px" %>
        <% end %>
        <%= button_to "Back", admin_users_path, method: :get, class: "btn btn-outline-primary", style: "margin: 5px" %>
      </div>
    </div>
    <hr style="margin: 1%;">
  </div>
  <div class="row">
    <div class="col-1">
    </div>
    <div class="col-10" style="margin-bottom: 20px">
      <% @posts.each do |post| %>
        <div class="card mt-3">
          <div class="card-body">
            <h5 class="card-title"><%= link_to post.title, post %></h5>
            <p class="card-text">Posted <%= "#{time_ago_in_words(post.created_at)} ago" %></p>
            <p class="card-text"><%= post.body.to_plain_text.truncate_words(100) %></p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-1"></div>
  </div>
</div>
<style>
    .container {
        background: rgba(255, 246, 219, 0.95);
        border-radius: 15px;
        margin-top: 5%;
    }

    .card-header {
        text-align: center;
    }

    .row {
        margin: 5%;
        padding: 2%;
    }

</style>
