<div class="container mt-5">
  <div class="row">
    <div class="col-4">
      <%= image_tag(@user.avatar, style:"width:150px; height: 150px; border-radius:100%; margin: 5%") if @user.avatar.attached? %>
    </div>
    <div class="col-8">
      <h1><%= @user.name %></h1>
      <h6>
        <%= pluralize(@user.comments.size, "Comment") %> |
        <%= pluralize(@user.views, "view") %> |
        <%= pluralize(@total_views, "Total Post View") %> |
        <%= pluralize(@total_likes, "Total likes") %>
      </h6>
    </div>
  </div>
  <div class="row">
    <div class="col-1">
    </div>
    <div class="card-header text-center">
      <h4>Approved posts</h4>
    </div>
    <div class="col-10" style="margin-bottom: 20px">
      <% @approved_posts.each do |post| %>
        <div class="card mt-3">
          <div class="card-body">
            <h5 class="card-title"><%= link_to post.title, post %></h5>
            <p class="card-text"><%= "#{time_ago_in_words(post.created_at)} ago" %></p>
            <p class="card-text"><%= post.body.to_plain_text.truncate_words(100) %></p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="card-header text-center">
      <h4>Un approved posts</h4>
    </div>
    <div class="col-10" style="margin-bottom: 20px">
      <% @not_approved_posts.each do |post| %>
        <% if current_user == post.user %>
        <div class="card mt-3">
          <div class="card-body">
            <h5 class="card-title"><%= link_to post.title, post %></h5>
            <p class="card-text"><%= "#{time_ago_in_words(post.created_at)} ago" %></p>
            <p class="card-text"><%= post.body.to_plain_text.truncate_words(100) %></p>
          </div>
        </div>
          <% end %>
      <% end %>
    </div>
    <div class="col-1"></div>
  </div>
</div>
<style>
  .col-10 {
      margin-left: 9%;
  }

  .col-8 {
      padding-top: 3%;
  }

  .container {
      background: rgba(255, 246, 219, 0.95);
  }
</style>
