<!--<p style="color: green"><%#= notice %></p>-->
<div class="container">
  <div class="card-header">
    <h4><%= @category.name %></h4>
  </div>
  <div>
    <%= render @category %>
  </div>
  <div class="text-center">
    <div class="btn-group">
      <% if current_user&.admin? %>
        <%= link_to "Edit this category", edit_category_path(@category), class:"btn btn-outline-warning"%>&nbsp;
        <%= button_to "Destroy this category", @category, method: :delete, class:"btn btn-outline-danger"%>&nbsp;
      <% end %>
      <%= link_to "Back to categories", categories_path, class:"btn btn-outline-primary"%>&nbsp;
    </div>
  </div>
</div>
<style>
  .container {
      background: rgba(255, 246, 219, 0.95);
      margin-top: 5%;
      margin-bottom: 5%;
      padding-top: 2%;
  }

  h4 {
      text-align: center;
  }

  .btn-group {
      margin-bottom: 2%;
  }

</style>
