<div class="container">
  <%= form_with model: @location, url: create_location_path do |form| %>

    <%= form.text_field :street, placeholder: "street", class: "form-control" %><br />
    <%= form.text_field :city, placeholder: "city", class: "form-control" %><br />
    <%= form.text_field :state, placeholder: "state", class: "form-control" %><br />
    <%= form.text_field :country, placeholder: "country", class: "form-control" %><br />
    <%= form.submit "add", class: "btn btn-primary" %>
  <% end %>
</div>
<style>
  .container {
      background: rgba(255, 246, 219, 0.95);
      margin-top: 5%;
      padding: 2%;
  }
</style>