<!DOCTYPE html>
<html>
  <head>
    <title>Blog Khoni</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials[:google_map_api] %>&callback=initMap" >
    </script>


   <%= render 'layouts/bootstrap' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://js.stripe.com/v3"></script>
  </head>

  <body style="background-image: url('https://browsecat.net/sites/default/files/wallpaper-sunflower-background-129407-790957-8941313.png')">

  <header>
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/alerts' %>
  </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>

<style>
    body {
        /*background-repeat: no-repeat;*/
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
</style>
