<div class="container mt-5 mb-5">
  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-md-8">
      <div class="card" style="background-color: transparent; border: 0px;">
        <h4 style="text-align: center; padding-bottom: 3%">Welcome! Here you can find only members posts.</h4>
        </div>
        <div class="container">
          <div id="posts">
            <% @posts.each do |post| %>
              <div class="card" style="margin-bottom: 15px; background: rgba(255, 255, 255, 0.88)">
                <div class="card-body">
                  <%= render post %>
                  <p><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes' %></p>
                  <p>
                    <%= button_to t(:show_this_post), post, :method => "get", class: "btn btn-warning" %>
                  </p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <div class="pagination justify-content-center">
        <%= will_paginate @posts, list_classes: %w(pagination justify-content-end) %>
      </div>
      </div>
    </div>
  </div>
</div>
